* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: rgb(54, 117, 255);
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid white;
}

body {
    background-color: #c9c7c7;
}

#logo,
#menu {
    padding: 10px;
}

#logo h1 {
    color: rgb(0, 0, 70);
    cursor: pointer;
}

#logo span {
    color: white;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

#menu a:hover {
    color: rgb(0, 0, 70);
    transform: scale3d(3.0);
    background: white;
    border-radius: 3px;
}

#content {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts {
    width: 660px;
    float: left;
}

.post {
    display: block;
    padding: 10px 0 0 0;
    background-color: #fff;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}

.post h2 {
    color: rgb(54, 117, 255);
    padding: 10px 0 0 25px;
}

.post span {
    padding: 0 0 0 25px;
}

#posts hr {
    border-color: rgba(54, 118, 255, 0.726);
    margin: 20px;
}

.img-post {
    display: block;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    width: 550px;
}

p {
    text-align: justify;
    padding: 25px 25px 0;
}

.post a {
    color: rgb(54, 117, 255);
    padding: 5px 5px 25px 25px;
    text-decoration: none;
    padding-bottom: 15px;
}

.post a:hover {
    text-decoration: underline;
}

#right-side {
    width: 240px;
    float: right;
    top: 0px;
}

.content-right {
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.content-right h3 {
     background: linear-gradient(to right, rgba(0, 119, 255, 0.925), rgba(0, 255, 149, 0.041));
     border-radius: 5px;
     padding: 3px;
}

.post-right {
    font-size: 13px;
    text-align: justify;
}

#right-side a {
    color: rgb(54, 117, 255);
    padding:25px;
    text-decoration: none;
}

#right-side a:hover {
   text-decoration: underline;

}